@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyber-bg text-cyber-text;
  }
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-cyber-bg;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-cyber-border rounded-full;
  }
}
